.header {
  &__menuList {
    margin: 0 20px;
    display: flex;
    transition: all 400ms ease;
    @media (max-width: 768px) {
      display: none;
      flex-direction: column;
      position: absolute;
      right: 0;
      top: 97px;
      padding: 10px;
      background-color: rgba(0, 0, 0, 0.75);
      &::before {
        position: absolute;
        top: -15px;
        right: 3vw;
        content: "";
        width: 0;
        height: 0;
        border-left: 13px solid transparent;
        border-right: 13px solid transparent;
        border-bottom: 15px solid rgba(0, 0, 0, 0.75);
      }
    }
    &--active {
      display: flex;
    }
  }
  &__menuItem {
    margin: 0 20px;
    @media (max-width: 1200px) {
      margin: 0 10px;
    }
  }
  &__menuLink {
    display: block;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 1.6rem;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #fff;
    padding: 7px;
    border-radius: 3px;
    transition: all 400ms ease;
    &:hover,
    &:focus {
      background: rgba(0, 0, 0, 0.75);
      color: #ffb548;
    }
    @media (max-width: 768px) {
      padding: 10px;
    }
  }
}
