.header {
  &__menu {
    position: fixed;
    max-width: 1440px;
    width: 100%;
    box-sizing: border-box;
    padding: 20px 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    transition: all 400ms ease;
    @media (max-width: 1200px) {
      padding: 20px 2vw;
    }
    @media (max-width: 768px) {
      padding: 20px 5vw;
    }
    &--scroll {
      background-color: rgba(0, 0, 0, 0.5);
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
    }
  }
  &__logo {
    width: 55px;
    transition: all 400ms ease;
    &:hover {
      transform: scale(1.1);
    }
  }
}
