.slider {
  max-width: 604px;
  width: 100%;
  margin: 0;
}

.swiper-slider {
  background: none;
}

.slider-img {
  width: 502px;
  height: 610px;
  border-radius: 6.33344px;
  background: #ffffff;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

.swiper-button-prev {
  display: none;
}

.swiper-button-next {
}

.swiper-pagination {
}

.swiper-pagination-bullet {
}

.swiper-pagination-bullet-active {
}
