.slider {
  max-width: 604px;
  width: 100%;
  margin: 0;
  @media (max-width: 700px) {
    max-width: 520px;
    height: auto;
  }
  @media (max-width: 500px) {
    width: 90%;
  }
}

.swiper-slider {
  background: none;
}

.slider-img {
  width: 502px;
  height: 610px;
  border-radius: 6.33344px;
  transform: matrix(-1, 0, 0, 1, 0, 0);
  @media (max-width: 700px) {
    width: 400px;
    height: auto;
  }
  @media (max-width: 500px) {
    width: 350px;
  }
  @media (max-width: 500px) {
    width: 250px;
  }
}

.swiper-button-prev {
  display: none;
}

#swiper-button-next {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 0px;
  cursor: pointer;
  z-index: 10;
}

.swiper-pagination {
  display: flex;
  position: absolute;
  bottom: 26px;
  left: 119px;
  z-index: 10;
  cursor: pointer;
  @media (max-width: 700px) {
    bottom: 60px;
    left: 70px;
  }
  @media (max-width: 600px) {
    bottom: 80px;
  }
  @media (max-width: 500px) {
    bottom: 50px;
    left: 20px;
  }
}

.swiper-pagination-bullet {
  width: 14px;
  height: 14px;
  border-radius: 14px;
  border: 1.30637px solid #ffffff;
  transition: all 400ms ease;
  @media (max-width: 600px) {
    width: 10px;
    height: 10px;
  }
}

.swiper-pagination-bullet ~ .swiper-pagination-bullet {
  margin-left: 53px;
}

.swiper-pagination-bullet-active {
  background-color: #ffffff;
  &::after {
    content: "";
    display: block;
    height: 1.95955px;
    background: #fff;
    position: absolute;
    top: 50%;
    animation: linning 400ms 200ms forwards;
  }
}

.swiper-pagination-bullet:last-of-type.swiper-pagination-bullet-active::after {
  right: 0;
}

@keyframes linning {
  from {
    width: 0;
  }
  to {
    width: 46px;
  }
}
