.header {
  width: 100%;
  height: 960px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: radial-gradient(
      189.96% 61.18% at 50% 38.82%,
      rgba(255, 181, 72, 0) 0%,
      rgba(52, 44, 29, 0.80319) 73.22%,
      #08090a 99.74%
    ),
    url("../../images/bgheader.png") repeat-x top center;
  &__menu {
    position: fixed;
    max-width: 1440px;
    width: 100%;
    box-sizing: border-box;
    padding: 20px 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    @media (max-width: 1200px) {
      padding: 20px 2vw;
    }
    @media (max-width: 768px) {
      padding: 20px 5vw;
    }
  }
  &__logo {
    width: 55px;
    transition: all 400ms ease;
    &:hover {
      transform: scale(1.1);
    }
  }
  &__menuList {
    margin: 0 20px;
    display: flex;
    transition: all 400ms ease;
    @media (max-width: 768px) {
      display: none;
      flex-direction: column;
      position: absolute;
      right: 0;
      top: 95px;
      padding: 10px;
      background-color: rgba(0, 0, 0, 0.75);
      &::before {
        position: absolute;
        top: -15px;
        right: 3vw;
        content: "";
        width: 0;
        height: 0;
        border-left: 13px solid transparent;
        border-right: 13px solid transparent;
        border-bottom: 15px solid rgba(0, 0, 0, 0.75);
      }
    }
    &--active {
      display: flex;
    }
  }
  &__menuItem {
    margin: 0 20px;
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 1.6rem;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #fff;
    padding: 7px;
    border-radius: 3px;
    transition: all 400ms ease;
    cursor: pointer;
    &:hover,
    &:focus {
      background: rgba(0, 0, 0, 0.75);
      color: #ffb548;
    }
    @media (max-width: 1200px) {
      margin: 0 10px;
    }
    @media (max-width: 768px) {
      padding: 10px;
    }
  }
  &__secondaryMenu {
    display: flex;
    align-items: center;
    transition: all 400ms ease;
    @media (max-width: 900px) {
      display: none;
    }
    @media (max-width: 768px) {
      background-color: rgba(0, 0, 0, 0.75);
      padding: 10px 33.5px;
      position: absolute;
      top: 295px;
      right: 20px;
    }
    &--active {
      display: flex;
    }
  }
  &__lang {
    height: 30px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    text-align: right;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #ffffff;
    background: none;
    padding: 5px;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    transition: all 400ms ease;
    &:hover,
    &:focus {
      background: rgba(0, 0, 0, 0.75);
      color: #ffb548;
    }
  }
  &__divider {
    margin: 0 25px;
    height: 30px;
    opacity: 0.5;
    border: 0.873968px solid #ffffff;
    @media (max-width: 1200px) {
      margin: 0 10px;
    }
  }
  &__platforms {
    display: flex;
  }
  &__platformsItem {
    width: 30px;
    height: 30px;
    transition: all 400ms ease;
    &:hover {
      transform: scale(1.1);
    }
  }
  &__platformsItem ~ &__platformsItem {
    margin-left: 17px;
  }
}
