.button {
  display: flex;
  padding: 17px;
  border-radius: 4px;
  background-color: #ffb548;
  text-decoration: none;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2.2rem;
  text-align: center;
  color: #1a1917;
  box-shadow: 0px 2px 4px rgba(26, 25, 23, 0.5);
  transition: all 300ms ease;
  &:hover {
    transform: scale(1.05);
  }
}
