.main {
  margin-top: 315px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button__divider {
  width: 0px;
  height: 23.95px;
  opacity: 0.5;
  border: 0.873968px solid #1a1917;
  margin: 0 15px;
}
